#topBar, #backImage, #logoCol, .imgHolder, .dots, object{display:none;}

*{
padding:0;
margin:0;
}

div{
text-align:center;
}

#menuSpacer p{
float:left;
margin-right:0.3em;
}

#contentCol{
clear:left;
}

h1{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:1em;
margin-bottom:0.5em;
}

h2{
font-size:1.2em;
margin-bottom:0.5em;
}

h3{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:1em;
color:#6b5544;
margin-bottom:0.8em;
}

p{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:0.8em;
margin-bottom:1.5em;
}

h2, a{
color:#E31937;
}