body {
	background: #F5F4EF 
	color: #000305;
	font-size: 87.5%; /* Base font size: 14px */
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;
}

code, pre { color: #000099; font-size: small; font-family: monospace;}

a {text-decoration: underline;}
a:link    {color: #1856ba; background-color: transparent;}
a:visited {color: #1d1916; background-color: transparent;font-weight: normal;}
a:active  {color: #000000; background-color: transparent;}
a:hover   {color: #006666; background-color: transparent; text-decoration: underline;}
a.heading {text-decoration: none}

span.greek {font-family: georgia, "Book Antiqua", palatino, serif;}
img {border:0}
abbr {border-bottom: 1px dotted #333; cursor: help;}
p.mid {text-align: center;}
.thinborder {border-width: 1px; border-style: solid;}

h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}	/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}
h1 {font-size: 3.571em; line-height: .9;}


#main {width: 600px; margin-left: auto; margin-right: auto; padding: 25px}

ul.nav li {float: left;}
ul.nav a { 
    width: 7em;
    display: block;
    border: 1px solid #000;
    borders-bottom: none;
    margin-right: 5px;
    padding: 5px;
    background-color: #EAEAEA;
    text-decoration: none;
    color: #333;
    text-align: center;
}
ul.nav {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
    overflow: hidden;
    zoom: 1
}




